/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Rubik Mono One', sans-serif;
    scroll-behavior: smooth;
}

/* COMMON */
.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}  

/* SHOES */
.shoes-container{
     height: 100vh;
     position: relative;
    /* background-color: red; */
 }

 .box-image{
     width: 250px;
 }

 .text{
     color: yellow;
     width: 20%;
     text-align: center;
 }

 .text:nth-of-type(3){
     color: green;
 }

 #red{
     background-color: red;
 }

 #green{
     background-color: green;
 }

 #yellow{
     background-color: yellow;
 }