/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Rubik Mono One', sans-serif;
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 1em;
    text-align: center;
    vertical-align: middle;
    font-size: small;
}
/* COMMON */
.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}  

/* MENU */
.menu {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

/* SHOES */
.shoes-container{
     height: 100vh;
     position: relative;

    /* background-color: red; */
 }

 .box-image{
     width: 250px;
 }

 .text{
     color: yellow;
     width: 20%;
     text-align: center;
 }

 #last-text{
     color: green;
 }
 /* .text:nth-of-type(3){
     color: green;
 } */

 /* color description */
 #red{
     background-color: red;
 }

 #green{
     background-color: green;
 }

 #yellow{
     background-color: yellow;
 }